<div class="row">
    <div class="col-md-6 m-auto mt-5">
        <div class="container mt-5 pl-4">
            <h2 class="text-center">Edit A Slide Image</h2>
            <form action="/admin/edit-slideshow/{{slide_image._id}}" method="POST" enctype="multipart/form-data">
                <div class="form-group mb-3">
                    <img src="/slide-images/{{slide_image._id}}.jpg" id="image_view" style="width: 100px;" alt="">
                </div>
                <div class="form-group mb-3">
                    <label>1st Slideshow Image</label>
                    <br>
                    <input type="file" onchange="viewImage(event)" name="slide_image1"
                        placeholder="Enter Price of the Product" class="form-control mt-1">
                </div>
                <div class="form-group mb-3">
                    <img src="/slide-images/{{slide_image._id}}-1.jpg" id="image_view" style="width: 100px;" alt="">
                </div>
                <div class="form-group mb-3">
                    <label>2nd of The Product</label>
                    <br>
                    <input type="file" onchange="viewImage(event)" name="slide_image2"
                        placeholder="Enter Price of the Product" class="form-control mt-1">
                </div>
                <div class="form-group mb-3">
                    <img src="/slide-images/{{slide_image._id}}-2.jpg" id="image_view" style="width: 100px;" alt="">
                </div>
                <div class="form-group mb-3">
                    <label>3rd of The Product</label>
                    <br>
                    <input type="file" onchange="viewImage(event)" name="slide_image3"
                        placeholder="Enter Price of the Product" class="form-control mt-1">
                </div>
                <button type="submit" class="btn btn-dark float-right w-100">Add Product</button>
                <p class="pt-2">Back To Home ? <a href="/admin">Go Home</a></p>
            </form>
        </div>
    </div>
</div>

<script>
    const viewImage = (event) => {
        document.getElementById('image_view').src = URL.createObjectURL(event.target.files[0])
    }
</script>