<head>
    <title>Admin panel</title>
</head>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-black ">
        <a class="navbar-brand ml-5" href="/admin">Dashboard </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {{!-- <li class="nav-item active">
                    <a class="nav-link" href="/admin">All Products <span class="sr-only">(current)</span></a>
                </li> --}}
                {{!-- <li class="nav-item">
                    <a class="nav-link" href="/admin/orders">All Orders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">All Users</a>
                </li> --}}
            </ul>
            {{!-- <a href="/admin/add-product" class="btn btn-success pl-2 m-1">Add products</a>
            <a href="/admin/add-slideshow" class="btn btn-success pl-2 m-1">Add Slideshow Images</a>
            <a href="/admin/edit-slideshow" class="btn btn-success pl-2 m-1">Edit Slideshow Images</a>
            <a href="/admin/add-coupon" class="btn btn-success pl-2 m-1">Add Coupon</a> --}}

        </div>

        <div class="row mt-4">

        </div>

        </div>
        <div>
            <a href="/admin/add-product" class=" mr-2 btn btn-outline-success my-2 my-sm-0 ">Add products</a>
            <a href="/admin/add-coupon" class="btn btn-outline-success my-2 my-sm-0 mr-5 ">Add Coupon</a>
        </div>

        <div class="row mt-4">

    </nav>
</header>