<head>
    <title>Admin panel</title>
</head>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-black">
<<<<<<< HEAD
        <a class="navbar-brand" href="/admin">Admin Panel</a>
=======
        <a class="navbar-brand" href="/admin">DASHBORD</a>
>>>>>>> 434707a08ada7241aebbafa1bc9e4a3973306877
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/admin">All Products <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/orders">All Orders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">All Users</a>
                </li>
            </ul>
<<<<<<< HEAD
            <a href="/admin/add-product" class="btn btn-success pl-2 m-1">Add products</a>
            <a href="/admin/add-slideshow" class="btn btn-success pl-2 m-1">Add Slideshow Images</a>
            <a href="/admin/edit-slideshow" class="btn btn-success pl-2 m-1">Edit Slideshow Images</a>
            <a href="/admin/add-coupon" class="btn btn-success pl-2 m-1">Add Coupon</a>

        </div>

        <div class="row mt-4">

        </div>
=======

>>>>>>> 434707a08ada7241aebbafa1bc9e4a3973306877

        </div>
        <div>
            <a href="/admin/add-product" class=" mr-2 btn btn-outline-success my-2 my-sm-0 ">Add products</a>
            <a href="/admin/add-coupon" class="btn btn-outline-success my-2 my-sm-0 mr-5 ">Add Coupon</a>
        </div>

        <div class="row mt-4">

<<<<<<< HEAD
=======
        </div>
        <form class="form-inline my-2 ml-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
>>>>>>> 434707a08ada7241aebbafa1bc9e4a3973306877
    </nav>
</header>